.degn-container {
    width: 72%;
    /* height: 38vh; */
    /* position: absolute; */
    /* margin-left: 10px; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* background-color: lime; */
    padding-bottom: 25px;
    /* justify-content: space-around; */
}

.degn-container-1 {
    height: 8vh;
    /* background-color: lightsalmon; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.degn-container-1 p {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.degn-container-2 {
    width: 105%;
    /* height: 27vh; */
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 5px;
    margin-top: 25px;
    justify-content: space-evenly;
    /* background-color: lightcoral; */
}

.degn-container-2-1 {
    /* background: url("lp.png");
    background-size:     cover;                      /* <------ */
    /* background-repeat:   no-repeat;
    background-position: center center;             */
    /* optional, center the image */

    /* width: 25%; */
    border-radius: 15px;
    border: 5px solid #F0EFF3;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.degn-container-2-1 p {
    padding-left: 10px;
    /* margin-top: 10px; */
    color: blue;
    font-weight: bolder;
    font-size: 16px;
    /* text-align: center; */
}

.degn-container-2-1 span {
    padding-left: 10px;
    font-size: 12px;
    margin-top: -10px;
}
